.container {
    background: #f9f9f9;
    margin: 40px auto;
    padding: 15px;
    overflow: hidden;
    border-radius: 10px;
}

.name {
    font-weight: bold;
    color: #555;
}

.body {
    color: #aaa;
}

.email {
    background: #428bca;
    color: white;
    float: right;
    padding: 5px 10px;
    border-radius: 5px;
    white-space: nowrap;
}