.container {
    background: #f9f9f9;
    display: flex;
    align-items: center;
    margin: 40px 0;
    padding: 15px;
    overflow: hidden;
    border-radius: 10px;
}

.image {
    width: 64px;
    height: 64px;
}

.section {
    padding: 10px 20px;
    width: 100%;
    &__title {
        font-size: 24px;
        color: #555;
    }
    &__body {
        font-size: 14px;
        color: #aaa;
    }
    &__link {
        float: right;
        text-decoration: none;
        color: white;
        background: #428bca;
        border-radius: 5px;
        padding: 2px 10px;
        white-space: nowrap;
    }
}


