// copyright stackoverflow
@mixin border($style, $color, $sides) { @if ($style != "") { @if ($sides == "") { border: $style $color; } @else { @each $side in $sides { @if ($side == 'top' or $side == 'right' or $side == 'bottom' or $side == 'left') { border-#{$side}: $style $color;}}}}}

.list {
    padding: 0;
    list-style: none;
    display: flex;
    width: 400px; // :D
    margin: 50px auto;
    &__item {
        @include border(1px solid, #eee, bottom top right);
        padding: 5px 10px;
        &--first {
            @include border(1px solid, #eee, bottom top right left);
            padding: 5px 10px 5px 15px;
            border-top-left-radius: 15px;
            border-bottom-left-radius: 15px;
        }
        &--last {
            @include border(1px solid, #eee, bottom top right);
            padding: 5px 15px 5px 10px;
            border-top-right-radius: 15px;
            border-bottom-right-radius: 15px;
        }
    }
}

.list__item,
.list__item--first,
.list__item--last {
    &:hover {
        background: #428bca;
        color: white;
        cursor: pointer;
    }
}

.active {
    background: #428bca;
    color: white;
}



