$bootstrap-blue: #428bca;

.container {
    background: $bootstrap-blue;
    display: flex;
    align-items: center;
    padding: 10px 20px;
}

.link {
    text-decoration: none;
    color: white;
    &--big {
        font-size: 25px;
    }
    &--small {
        font-size: 20px;
    }
}

.list {
    list-style: none;
}


