.container {    
    color: white;
    border-radius: 5px;
    padding: 2px 10px;
    margin: 0 15px;
    white-space: nowrap;
    &--green {
        background: #5cb85c;
    }
    &--red {
        background: #d9534f;
    }
}

